<mz-navbar [navbarClass]="'blue-grey darken-1'">
  <a class="brand-logo center white-text">Logo</a>
</mz-navbar>

<div class="container">
  <mz-card [backgroundClass]="'blue-grey lighten-5'">
    <mz-card-title>
      Angular 2 Test
    </mz-card-title>

    <mz-card-content>
      <p>
        This is a very simple Angular 2 + Angular CLI Test website, running on Firebase.
      </p>
      <br />
      <i>
        This is an open-source project, you can check it out on
        <a href="http://github.com/brunodb3" target="_blank">
          GitHub.
        </a>
      </i>
    </mz-card-content>
  </mz-card>
</div>
